body {
	background-color: #222;
	color: white;
	text-align: center;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

small {
	font-size: 10px;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

.thumb {
	font-size: 96px;
}
